<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="myConnectionString"
        connectionString="Provider=SQLOLEDB;Data Source=RTAPPSVR;Initial Catalog=Rogue;Integrated Security=SSPI;"
    />
  </connectionStrings>
  <appSettings>
     <!-- user 1-->
    <add key="UserName1" value="mike" />
    <add key="Password1" value="lin" />

    <!-- user 2-->
    <add key="UserName2" value="kelvin" />
    <add key="Password2" value="lin" />

    <!-- user 3-->
    <add key="UserName3" value="chen" />
    <add key="Password3" value="lin" />

    <!-- user 4-->
    <add key="UserName3" value="jacKieB" />
    <add key="Password3" value="JRogBue" />
  </appSettings>

    
</configuration>
